.col.col-md-12
  %h2 Provide some details
  = form_tag(membership_update_member_details_path(membership_id: @member.id), method: 'put') do
    %input{type: 'text', class: 'form-controls', name: 'member[first_name]', placeholder: 'FirstName'}
    %input{type: 'text', class: 'form-controls', name: 'member[last_name]', placeholder: 'LastName'}
    %input{type: 'email', class: 'form-controls', name: 'member[email]', disabled: true, placeholder: 'Email', value: "#{@member.user.email}"}
    %input{type: 'password', class: 'form-controls', name: 'member[password]', placeholder: 'Password'}
    %input{type: 'password', class: 'form-controls', name: 'member[password_confirmation]', placeholder: 'Password Confirmation'}

    %input{type: 'submit', class: 'btn btn-primary', value: 'Update'}
