.padding-10
  .row
    .col-md-10
      %h2
        %i.fa.fa-home{:style=>"padding-right: 6px;"}
          Blogs/ Edit Blog
    .col-md-2.pull-right{style: "margin: 20px 0;"}
= render partial: "blogs/partials/form", locals: { blog: @blog }