.padding-10
  .row
    .col-md-12
      %h2
        %i.fa.fa-list{:style=>"padding-right: 6px;"}
          = get_blogs_view_header 'unread'
- if @blogs.present?
  = render partial: @blogs
- else
  .alert.alert-info.fade.in
    No unread blogs found
