/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap-datepicker3
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */

@import "font-awesome"
@import 'bootstrap-sprockets'
@import 'bootstrap'

.panel-group .panel
  margin: 0 1%!important

th,td
  vertical-align: middle!important

.panel-group .panel
  width: 31%
  float: left

.panel-group
  width: 100%
  float: left
  margin: 20px 0

.panel-default > .panel-heading
  background-color: #54c7ad!important
  color: #fff!important
  font-size: 15px

.panel-body
  font-size: 34px
  text-align: center

.monthly-meals-count
  width: 32%
  margin: auto
  /* padding: 9px; */
  background-color: #9ace99
  border-radius: 5px
  font-size: 13px

textarea
  width: 96%!important
.col
  padding: 0!important
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th, .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th
  background-color:none!important
  font-size: 12px!important

/*navbar manipulation

.navbar
  border-radius: 0
  margin-bottom: 0

body, html
  height: 100%
  background: url('/assets/mybg.png') #ffffff

/* remove outer padding
#main .col
  padding: 0!important

.container-fluid .row
  padding: 0px
  margin: 0px

/*Remove rounded coners

nav.sidebar
  &.navbar
    border-radius: 0px
  -webkit-transition: margin 200ms ease-out
  -moz-transition: margin 200ms ease-out
  -o-transition: margin 200ms ease-out
  transition: margin 200ms ease-out

/* Add gap to nav and right windows.

/* .....NavBar: Icon only with coloring/layout.....

/*small/medium side display
@media (min-width: 768px)
  /*Allow main to be next to Nav
  .main
    width: calc(100%)
    /*keeps 100% minus nav size
    float: right
  /*lets nav bar to be showed on mouseover
  nav.sidebar
    &:hover + .main
      margin-left: 200px
    &.navbar.sidebar > .container .navbar-brand
      margin-left: 0px
  /*Center Brand
  .navbar > .container-fluid .navbar-brand
    margin-left: 0px
  /*Center Brand
  nav.sidebar
    .navbar-brand, .navbar-header
      text-align: center
      width: 100%
      margin-left: 0px
    a
      padding-right: 13px
    .navbar-nav
      > li
        &:first-child
          border-top: 1px #e5e5e5 solid
        border-bottom: 1px #e5e5e5 solid
      .open .dropdown-menu
        position: static
        float: none
        width: auto
        margin-top: 0
        background-color: transparent
        border: 0
        -webkit-box-shadow: none
        box-shadow: none
    .navbar-collapse, .container-fluid
      padding: 0 0px 0 0px
  /*Center Icons
  /*adds border top to first nav box
  /*adds border to bottom nav boxes
  /* Colors/style dropdown box
  /*allows nav box to use 100% width
  /*colors dropdown box text
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a
    color: #777
  /*gives sidebar width/height
  nav.sidebar
    width: 200px
    height: 100%
    margin-left: -160px
    float: left
    z-index: 8000
    margin-bottom: 0px
    li
      width: 100%
    &:hover
      margin-left: 0px
  /*give sidebar 100% width;
  /* Move nav to full on mouse over
  /*for hiden things when navbar hidden
  .forAnimate
    opacity: 0

/* .....NavBar: Fully showing nav bar.....

@media (min-width: 1330px)
  /*Allow main to be next to Nav
  #main
    width: calc(100% - 220px)
    /*keeps 100% minus nav size
    margin-left: 220px
  /*Show all nav
  nav.sidebar
    margin-left: 0px
    float: left
    .forAnimate
      opacity: 1
/*Show hidden items on nav

nav
  &.sidebar .navbar-nav .open .dropdown-menu > li > a
    &:hover, &:focus
      color: #CCC
      background-color: transparent
  &:hover .forAnimate
    opacity: 1

section
  padding-left: 15px

/* teal theme
.jarviswidget > header
  height: 34px
  /* make sure ".jarviswidget-loader" is also the same height or it will flicker during collapse
  padding: 0
  line-height: 40px

.ui-sortable .jarviswidget-sortable > header
  cursor: move
  -moz-border-radius: 0px
  -khtml-border-radius: 0px
  -webkit-border-radius: 0px
  border-radius: 0px
  line-height: normal
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05)
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05)
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05)

.jarviswidget > header > .widget-icon
  display: block
  width: 30px
  height: 32px
  position: relative
  float: left
  font-size: 111%
  line-height: 32px
  text-align: center
  margin-right: -10px

.ui-sortable .jarviswidget-sortable.jarviswidget-collapsed > header
  -moz-border-radius: 0px
  -khtml-border-radius: 0px
  -webkit-border-radius: 0px
  border-radius: 0px

.jarviswidget > header
  h2
    height: 100%
    width: auto
    display: inline-block
    font-size: 14px
    position: relative
    margin: 0
    line-height: 34px
    font-weight: normal
    letter-spacing: 0px
  >
  h2
    margin-left: 10px
    float: left
    \:first-child.widget-icon
      margin-left: 0
  .jarviswidget-icon
    width: 16px
    height: 16px
    float: left
    margin: 12px 10px 0 0
    display: block
    zoom: 1
    z-index: 4000

.jarviswidget-ctrls
  width: auto
  float: right
  padding: 0
  margin: 0
  .button-icon
    min-width: 30px
    height: 32px
    float: left
    position: relative
    font-family: Arial, Helvetica, sans-serif
    border-left: 1px solid rgba(0, 0, 0, 0.09)
    &:hover
      background-color: rgba(0, 0, 0, 0.05)

.jarviswidget-loader
  width: 32px
  height: 32px
  margin: 0
  float: rig

.jarviswidget-color-blueDark
  > header
    background: #4C4F53
    color: #FFF
    > .jarviswidget-ctrls a
      color: #fff !important
  .nav-tabs li
    &:not(.active) a
      color: #fff !important
    a:hover
      color: #333 !important
  > header
    border-color: #4C4F53 !important

div
  &.dt-top-row
    height: 0
    line-height: 0
    position: relative
  &.dt-bottom-row
    background: #fafafa
    font-size: 11px
    overflow: hidden
    padding: 5px 10px
    border-top: 1px solid #ccc
    -webkit-box-shadow: inset 0 1px #fff
    -moz-box-shadow: inset 0 1px #fff
    -ms-box-shadow: inset 0 1px #fff
    box-shadow: inset 0 1px #ffffff

table
  > thead
    background-color: #fff
/* SMART FORMS

.smart-form
  *
    margin: 0
    padding: 0
    box-sizing: content-box
    -moz-box-sizing: content-box
    &:after, &:before
      margin: 0
      padding: 0
      box-sizing: content-box
      -moz-box-sizing: content-box
  .btn
    box-sizing: border-box
    -moz-box-sizing: border-box
  .radio + .radio, .checkbox + .checkbox
    margin-top: 0
  footer .btn
    float: right
    height: 31px
    margin: 10px 0 0 5px
    padding: 0 22px
    font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif
    cursor: pointer
  legend
    padding-top: 15px
  /* margin: 0;
  /* outline: none;
  /* color: #666;
  /* position: relative;
  header
    display: block
    padding: 8px 0
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2)
    background: white
    font-size: 16px
    font-weight: 300
    color: #232323
    margin: 10px 14px 0
  fieldset
    display: block
    padding: 25px 14px 5px
    border: none
    background: rgba(255, 255, 255, 0.9)
    position: relative
    + fieldset
      border-top: 1px solid rgba(0, 0, 0, 0.1)
  section
    margin-bottom: 15px
    position: relative
  footer
    display: block
    padding: 7px 14px 15px
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    background: rgba(248, 248, 248, 0.9)
    &:after
      content: ''
      display: table
      clear: both
  .label
    display: block
    margin-bottom: 6px
    line-height: 19px
    font-weight: 400
    font-size: 13px
    color: #333
    text-align: left
    &.col
      margin: 0
      padding-top: 7px
  .note
    margin-top: 6px
    padding: 0 1px
    font-size: 11px
    line-height: 15px
    color: #999

.note
  margin-top: 6px
  padding: 0 1px
  font-size: 11px
  line-height: 15px
  color: #999
  margin-top: 2px
  font-size: 10px

.smart-form
  .note a
    font-size: 13px
  .input, .select, .textarea, .radio, .checkbox, .toggle, .button
    position: relative
    display: block
    font-weight: 400
  .input input, .select select, .textarea textarea
    display: block
    box-sizing: border-box
    -moz-box-sizing: border-box
    width: 100%
    height: 32px
    padding: 8px 10px
    outline: none
    border-width: 1px
    border-style: solid
    border-radius: 0
    background: #fff
    font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif
    color: #404040
    appearance: normal
    -moz-appearance: none
    -webkit-appearance: none

.btn-secondary
  color: #fff
  background-color: #A6ABA6
  border-color: #5D615D
  float: right
  height: 31px
  margin: 10px 0 0 5px
  padding: 0 22px
  font: 300 15px/29px "Open Sans", Helvetica, Arial, sans-serif
  cursor: pointer
  &:after
    color: #fff

.padding-5-per
  padding-left: 5%

.padding-10-top-bottom
  padding: 10px 0px

.padding-20-top-bottom
  padding: 20px 0px!important

.float-right
  float: right!important

.padding-0
  padding: 0!important

.padding-right-0
  padding-right: 0 !important

.padding-left-0
  padding-left: 0 !important

.padding-20
  padding: 20px!important

/*
.note-error
  font-size: 12px !important
  color: #A90329 !important

/*
.dataTables_info
  font-size: 12px

table
  thead
    tr > th
      font-size: 15px

  tbody
    tr > td
      font-size: 12px
